@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --cor-principal: #8257e6; /*var(--cor-principal)*/
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
	background: #282a36;
	font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover{
    color: var(--cor-principal);
    transition: color 200ms;
}

header{
	padding: 32px;
	border-bottom: 1px solid #333;
  background-color: rgba(0, 0, 0, 0.1);
}

header div{ 
	text-align: center;
}

header div a {
	font-size: 18px;
	line-height: 28px;
	margin: 0 30px;
}

#wrapper {
  text-align: center;
  padding: 32px;
  color: #fff;
}

#wrapper img{
  border-radius: 50%;
  border: 2px solid var(--cor-principal);
  margin-bottom: 30px;
}

#wrapper h1 {
  color: var(--cor-principal);
  font-size: 42px;
  line-height: 52px;
  font-weight: normal;
  margin-bottom: 16px;
}

#wrapper h3 {
  font-size: 20px;
  line-height: 52px;
  font-weight: normal;
  margin-bottom: 16px;
}

.lista ul li {
 display: inline; 
 margin-left: 12px;
 cursor: pointer;
}

#rodape {
	position: absolute;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.1);
  height: 62px;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.links{
  list-style: none;
}

.links ul li {
  display: inline;
  padding-top: 50px;
  margin-left: 12px;
}



